/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #e3ffe7, #4f89ee);
}

/* CARD */
.card {
  width: 420px;
  padding: 35px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);

  text-align: center;
}

/* TITLE */
h1 {
  font-size: 18px;
  margin-bottom: 20px;
  color: white;
}

/* LABEL */
label {
  display: block;
  margin: 10px 0 5px;
  color: white;
  font-size: 13px;
  text-align: left;
}

/* INPUT */
input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;

  background: rgba(255, 255, 255, 0.2);
  color: white;
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;

  border: none;
  border-radius: 12px;

  background: linear-gradient(135deg, #4f89ee, #007bff);
  color: white;
  font-size: 16px;
  font-weight: bold;

  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: translateY(-2px);
}